if [[ -f ".env" ]]; then
  dotenv
fi
case "${ENVIRONMENT}" in
  "local")
    if [[ -f ".env.local" ]]; then
      dotenv .env.local
    fi
    ;;

  "dev")
    if [[ -f ".env.local" ]]; then
      dotenv .env.dev
    fi
    ;;

  "prod")
    if [[ -f ".env.local" ]]; then
      dotenv .env.prod
    fi
    ;;
esac